header {
    background-color: #e97451;
    padding: 0 40px;
    text-align: center;
    font-family: sans-serif;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
    transition: color 0.3s;
}

header a:hover {
    color: rgba(45, 55, 72, 0.84);
}
.inner-header{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
}
.cart {
    position: relative;
    font-size: 24px;
}

.cart .badge {
    font-size: 12px;
    padding: 2px;
    position: absolute;
    background: red;
    color: white;
    border-radius: 50%;
    width: 21px;
    height: 21px;
}
.wishlist {
    position: relative;
    font-size: 24px;
}
.wishlist span.badge {
    position: absolute;
    font-size: 12px;
    padding: 2px;
    background: red;
    color: #fff;
    border-radius: 50%;
    width: 21px;
    height: 21px;
}
.logo{
    width: 4%;
}
